<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>First Web Calc</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Calculate</h1>
<form action="#" th:action="@{/calculate}" th:object="${calculate}" method="post">
  <p>A: <input type="text" th:field="*{a}" /></p>
  <p>Operation: <input type="text" th:field="*{operation}" /> + , - , * , / </p>
  <p>B: <input type="text" th:field="*{b}" /></p>
  <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<!--<p> th:text="${result}</p>-->
</body>
</html>