<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
Hello!
<a href="goodbye">Say GoodBye!</a>
<p></p>
<form action = "goodbye.html" novalidate> <!-- указываем адрес, куда отправляется форма и указываем, что проверка данных на корректность, введенных пользователем в форму не производится -->
    Input name: <input type = "input" name = "name">
    <input type = "submit"> <!-- определяем кнопку отправки формы -->
</form>
<p></p>
<!--<p th:text="${messages}"/>-->

</body>
</html>